.res-view-banner-sec {
    margin-top: 98px;
    box-shadow: rgb(232, 232, 232) 0px 0.5px 0px inset;
    padding-top: 25px;
}

.res-view-banner-sec .banner {
    position: relative;
    width: 100%;
    height: 320px;

}

.res-view-banner-sec .banner img {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 6px;
    height: 100%;
}

.img-overlay {
    background: linear-gradient(9.64deg, rgba(0, 0, 0, 0.71) 13.22%, rgba(0, 0, 0, 0.05) 44.28%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.res-view-banner-sec .banner .description-box {
    position: absolute;
    left: 0;
    bottom: 15px;
    background-color: rgba(28, 28, 28, 0.86);
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 560px;
    width: 100%;
    z-index: 1;
    text-align: left;
}

.res-view-banner-sec .banner .description-box span {
    color: rgb(208, 212, 220);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
}

.res-view-banner-sec .banner .description-box h1 {
    line-height: 1.2;
    margin-bottom: 12px;
    color: rgb(248, 249, 252);
    font-size: 38px;
    font-weight: 600;
}

.res-view-banner-sec .banner .description-box p {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 145px;
    text-shadow: rgb(66, 66, 66) 0px 0px 2px;
    color: rgb(208, 212, 220);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

.res-view-banner-sec .banner .description-box .place {
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-right: 7px;
    margin-top: 14px;
}

.res-view-banner-sec .banner .save-btns {
    position: absolute;
    top: 18px;
    right: 18px;
}

.res-view-banner-sec .banner .save-btns div span {
    background: rgba(28, 28, 28, 0.9);
}

.res-view-banner-sec .banner .save-btns>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.res-view-banner-sec .banner .save-btns div .save-btn {
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px 0 10px;
    border-radius: 20px;
    backdrop-filter: blur(14px);
    cursor: pointer;
    opacity: 0.8;
    pointer-events: all;
    height: 40px;
}

.res-view-banner-sec .banner .save-btns div .save-btn p {
    line-height: 1.2;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.res-view-banner-sec .banner .save-btns div .link-btn {
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-restaurants .cards-sec {
    margin-top: 55px;
    margin-bottom: 50px;
}

.view_collection {
    background-color: unset;
}

.view_collection h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.view-restaurants .cards-sec .card-grid,
.view_collection .card-grid {
    gap: 15px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.view-restaurants .cards-sec .restaurant-card,
.view_collection .card-grid .slide-card {
    width: calc(100% / 4 - 60px / 4);
    background-color: rgb(248, 249, 252);
    border-radius: 12px;
    overflow: hidden;
}

.view_collection .card-grid .slide-card {
    background-color: none;
}

.view-restaurants .cards-sec .card-img {
    height: 185px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.view-restaurants .cards-sec .card-img .discount-badge {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10px;
    left: 0;
    background: linear-gradient(90deg, rgb(17, 85, 203) 0%, rgb(83, 140, 238) 25%, rgb(17, 85, 203) 50%, rgba(17, 85, 203, 0.8) 80%, rgba(17, 85, 203, 0) 100%);
    padding: 2px 50px 2px 14px;
    font-weight: 500;
    line-height: 24px;
    color: white;
    gap: 10px;
    font-size: 14px;
}

.view-restaurants .cards-sec .card-img .discount-badge img {
    width: 18px;
    object-fit: cover;
}

.view-restaurants .cards-sec .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.view-restaurants .cards-sec .restaurant-card:hover img {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.view-restaurants .cards-sec .img-overlay {
    background: linear-gradient(305.27deg, rgba(0, 0, 0, 0.7) 0.19%, rgba(0, 0, 0, 0) 54.37%);
}

.view-restaurants .cards-sec .card-content {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0 10px 0;
    padding: 12px;
    max-width: 100%;
}

.view-restaurants .cards-sec .card-content h3 {
    white-space: nowrap;
    display: inline;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(28, 28, 28);
    font-weight: 700;
}

.view-restaurants .cards-sec .card-content .rating-dining {
    display: flex;
    margin: 2px 0;
    align-items: center;
}

.view-restaurants .cards-sec .card-content .rating-dining .rating-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(38, 126, 62);
    color: rgb(255, 255, 255);
    min-width: 26px;
    padding: 2px 4px;
    font-size: 13px;
    border-radius: 6px;
}

.view-restaurants .cards-sec .card-content .rating-dining .medium,
.view-restaurants .cards-sec .card-content .rating-dining .low {
    background-color: rgb(248, 209, 73);
}

.view-restaurants .cards-sec .card-content .rating-dining .dining-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    color: rgb(54, 54, 54);
    margin-left: 8px;
}

.view-restaurants .cards-sec .card-content .cuisin {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.view-restaurants .cards-sec .card-content p {
    font-weight: 300;
    white-space: nowrap;
    display: inline;
    font-size: 14px;
    line-height: 1.5;
    color: rgb(79, 79, 79);
}

@media(max-width:992px) {

    .view-restaurants .cards-sec .restaurant-card,
    .view_collection .card-grid .slide-card {
        width: calc(100% / 3 - 40px / 3);
    }
}

@media(max-width:767px) {

    .view-restaurants .cards-sec .restaurant-card,
    .view_collection .card-grid .slide-card {
        width: calc(100% / 2 - 20px / 2);
    }
}

@media(max-width:480px) {
    .img-overlay {
        background: linear-gradient(9.64deg, rgba(0, 0, 0, 0.71) 15.22%, rgba(0, 0, 0, 0.05) 65.28%);
    }

    .res-view-banner-sec .banner .description-box {
        background-color: unset;
        bottom: 0;
    }

    .res-view-banner-sec .banner .description-box span {
        font-size: 13px;
    }

    .res-view-banner-sec .banner .description-box h1 {
        margin-bottom: 5px;
        font-size: 26px;
    }

    .res-view-banner-sec .banner .description-box p {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.3;
    }

    .res-view-banner-sec .banner .description-box .place {
        font-size: 12px;
        margin-top: 8px;
    }

    .view-restaurants .cards-sec .restaurant-card,
    .view_collection .card-grid .slide-card {
        width: 100%;
    }
}